.statContainer {
  font-size: 15px;
  text-align: center;
  color: #313d3e;
  & svg {
    fill: #0084cd !important;
    width: 20px;
    height: 20px;
  }
  &.disabled {
    color: #bbb;
    & svg {
      fill: #bbb !important;
    }
  }
  .openSourceStatIcon {
    display: inline-block;
    width: 18px;
    height: 18px;
  }

  .openSourceStatChange {
    color: '#c91b1b';
    font-size: 14px;
  }
}
