.dataPointContainer {
  margin-bottom: 15px;
  .dataPointTitle {
    display: inline;
    font-size: 16px;
    font-weight: 600;
    margin-right: 4px;
    color: #323e3f;
  }
  p {
    color: #a6a6a6;
    margin-top: 0;
  }
}
